threenoodles/.*
.project
.classpath
.settings/
README.MD
logs/
target/
lib/
temp/
bin/
**/out/**

*.iml
#out/
*.log
*.log.*
.idea/
.idea/.*
/WebContent
/bin
/target/
/target/
/target/
/out/**
out/
out/**

**DS_Store**
